/*Forskelligt hero image ved mobil og desktop*/
.topbillede {
    width: 100%;
    height: 100%;
    border-bottom: 0.2rem solid black;
}
.heroimagedesktop {
    display: none;
}

/*Styling af overskrifter*/
h4 {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.875rem;
}
/*Kortere linje under overskrift*/
hr {
    height: 0.1rem;
    background-color: #d9d9d9;
    width: 9rem;
    margin-top: -2rem;
    border: none;
}
/*Rundede hjørner paa tekstboks*/
.rcorners {
    border-radius: 1rem;
    background-color: #E9F7EF;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.2rem solid black;
    box-shadow: inset 0px 0px 10px 0px;
    padding-bottom: 3rem;
}
h5 {
    font-size: 1.5rem;
    margin-bottom: -0.2rem;
}
p {
    font-size: 1.0625rem;
    line-height: 120%;
}

/*scrollmenu til produkterne*/
.scrollmenu {
    background-color: white;
    overflow: auto;
    display: flex;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
}
.scrollmenu p {
    color: black;
    text-align: center;
    text-decoration: none;
}
.stor {
    font-size: 1.125rem;
    font-weight: bold;
}
.lille {
    font-size: 0.9375rem;
    margin-top: -0.5rem;
}
/*Forskellige baggrundsfarver*/
.produkter1 {
    background-color: white;
    padding: 2rem;
}
.produkter2 {
    background-color: #F6F6F6;
    padding: 2rem;
    box-shadow: inset 0px 0px 5px black;
}
.information {
    border: solid 0.1rem black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/*styling af link*/
.link {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.8rem;
    text-decoration: underline;
    color: #0000EE;
    padding-right: 3rem;
}
.link2 {
    text-decoration: underline;
    color: #0000EE;
}
/*styling af links*/
.lille a {
    background-color: transparent;
    text-decoration: underline;
    color: #0000EE;
}

.billede {
    box-shadow: 0px 0px 10px black;
    width: 90%;
}

.border {
    border: solid 0.2rem black;
    margin-bottom: 1rem;
    opacity: 80%;
}
.centertekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bolder;
}
.container {
    position: relative;
    text-align: center;
    color: black;
}
.stars {
    text-align: center;
    font-size: 2.5rem;
    color: #F1DD29;
    border: solid 0.1rem black;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
}
.link3 {
    text-decoration: underline;
    color: #0000EE;
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    padding-bottom: 6rem;
}
a {
    background-color: transparent;
}
.eksempler {
    display: none;
}
.hide {
    display: none;
}





/*Media queries til desktop ved 800px*/
@media screen and (min-width: 800px) {

    /*Vis det andet billede*/
    .heroimagemobil {
        display: none;
    }
    .heroimagedesktop {
        display: contents;
    }
    .desktopbillede {
        width: 100%;
        height: 100%;
        border-bottom: 0.7rem solid black;
    }

    /*Ændring af skriftstørrelse og placering*/
    h4 {
        font-size: 2.5rem;
        text-align: left;
        padding-top: 5rem;
        margin-left: 5rem;
    }
    hr {
        height: 0.3rem;
        width: 12rem;
        margin-top: -3rem;
        float: left;
        margin-left: 7rem;
    }
    /*Ændring af teksboks*/
    .rcorners {
        display: flex;
        gap: 5rem;
        padding-left: 3rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: -1rem;
    }
    p {
        font-size: 1.125rem;
    }
    h5 {
        font-size: 1.875rem;
    }
    .information {
        flex-direction: row;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: -1.1rem;
    }
    .flexing {
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: -1.1rem;
    }
    .eksempler {
        display: flex;
        gap: 2rem;
        justify-content: center;
        text-align: center;
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 3rem;
    }
    .link3 {
        display: none;
    }
    .stars {
        background-color: black;
        margin-bottom: 10rem;
    }
    .hide {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0.8rem;
        text-decoration: underline;
        color: #0000EE;
        padding-right: 3rem;
    }
    .scrollmenu {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .link2 {
        margin-left: 2rem;
    }
}