
/*Header*/
/*styling af logo*/
.logo {
    margin-left: 0.7rem;
    height: 3.2rem;
}
/*styling af burger icon*/
#menu {
    display: none;
}
.burgericon {
    font-size: 2rem;
    padding-right: 1rem;
    position: relative;
    text-align: right;
}
/*Vis og skjul dropdown menuen ved tryk paa burger icon*/
.burger-menu:checked + .burgericon + .dropdown {
    display: block;
}
/*styling af header*/
.navbar {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar a {
    float: left;
    color: black;
}
/*Dropdown*/
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn, .dropdropbtn, a {
    background-color: white;
    border: none;
    color: black;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdropdown-content {
    display: none;
}
.dropdown-content:hover .dropdropdown-content {
    display: block;
}
.dropdown {
    display: none;
}
.burger:hover .dropdown {
    display: block;
}
.dropdowns {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
}
.dropbtn {
    line-height: 0.5;
}


/*Footer*/
/*styling af ikoner*/
.ikoner {
    display: flex;
    height: 2rem;
    width: auto;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
/*styling af tekst*/
.mobil {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 2rem;
}
.mobil p {
    padding-top: 1rem;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mobil a {
    color: white;
    background-color: black;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.desktop {
    display: none;
}
footer {
    padding-top: 2rem;
}
/*styling af knapper*/
button {
    color: white;
    background-color: #2658DB;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
}
button:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
p {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal; 
}


/*Media queries til desktop paa 600px*/
@media screen and (min-width: 600px) {
    .mobil {
        display: none;
    }
    .desktop {
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .left {
        padding-left: 5rem;
    }
    .right {
        padding-right: 5rem;
    }
    .right a {
        display: flex;
        justify-content: flex-end;
        padding-top: 3rem;
        color: white;
        font-family: "Istok Web", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .left a {
        display: flex;
        justify-content: flex-start;
        padding-top: 3rem;
        color: white;
        font-family: "Istok Web", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .desktop a {
        color: white;
        background-color: black;
        text-decoration: underline;
        font-family: "Istok Web", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .info {
        padding-top: 3rem;
    }
}