.navbar {
    display: flex;
    justify-content: space-between;
    border: solid 0.1rem black;
    height: 3.5rem;
    box-shadow: inset 0px 1px 10px black;
}
img {
    width: 4rem;
    padding-left: 1rem;
}
.burger {
    font-size: 2rem;
    padding-right: 0.6rem;
    margin-top: 0.2rem;
    text-align: right;
}
.dropdown {
    border: solid 0.1rem black;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: white;
    display: none;
}
a {
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 0.2rem;
}
.burger:hover .dropdown {
    display: flex;
}
.dropdown a:hover {
    color: #505050;
}
.dropdropdown {
    border: solid 0.1rem black;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: white;
    display: none;
    background-color: #ECECEC;
    border-radius: 0.3rem;
    border-top-left-radius: 0rem;
}
.dropdropdown a:hover {
    color: #505050;
}
.content:hover .dropdropdown {
    display: flex;
}
.dropdropdropdown {
    border: solid 0.1rem black;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: white;
    display: none;
    font-size: 1rem;
    width: 10rem;
    border-radius: 0.3rem;
    border-top-left-radius: 0rem;
}
.dropcontent:hover .dropdropdropdown {
    display: flex;
}
.dropcontent {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    line-height: 1.7rem;
    font-size: 1.3rem;
}
.content {
    line-height: 2rem;
    text-align: left;
    padding: 0.3rem;
    font-family: sans-serif;
    font-size: 1.5rem;
}
span {
    margin-left: 1.5rem;
}
.deskdrop {
    display: none;
}
.line {
    display: none;
}

@media screen and (min-width: 900px) {
    .deskdrop {
        display: flex;
        padding-right: 2rem;
        overflow: hidden;
        background-color: transparent;
    }
    .deskdrop a {
        float: left;
        text-align: center;
        text-decoration: none;
        padding-left: 0.3rem;
    }
    .burger {
        display: none;
    }
    .deskdrop .dropbtn, .dropdropbtn {
        border: none;
        outline: none;
        color: black;
        background-color: white;
        font-size: 1.3rem;
        background-color: transparent;
        font-family: sans-serif;
    }
    .deskdrop-content, .deskdropdrop-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 10rem;
        z-index: 1;
    }
    .deskdrop-content a, .deskdropdrop-content a {
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .logo {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .deskdrop:hover .deskdrop-content {
        display: block;
    }
    .deskdrop-content {
        font-size: 1.2rem;
        font-family: sans-serif;
        line-height: 2rem;
        border: solid 0.1rem black;
        border-radius: 0.3rem;
        border-top-left-radius: 0rem;
        margin-top: 3rem;
    }
    .dropdropbtn {
        font-size: 1.2rem;
        padding: 0.3rem;
    }
    .deskdropdrop:hover .deskdropdrop-content {
        display: block;
    }
    .deskdropdrop-content {
        font-size: 1rem;
        font-family: sans-serif;
        line-height: 2rem;
        border: solid 0.1rem black;
        border-radius: 0.3rem;
        border-top-left-radius: 0rem;
        margin-left: 5rem;
    }
    .dropbtn:hover {
        color: #505050;
    }
    .dropdropbtn:hover {
        background-color: black;
        color: white;
    }
    .deskdropdrop-content a:hover {
        background-color: black;
        color: white;
    }
    .deskdrop-content a:hover {
        background-color: black;
        color: white;
    }
    .line {
        display: block;
        font-size: 2rem;
        margin-top: 0.3rem;
        padding-right: 2%;
        color: lightgrey;
    }
}