/*sundhed.css og vaerdier.css ligner meget hinanden, men jeg har valgt at lave to forskellige filer
for at kunne ændre i dem indivieúelt hvis nødvendigt*/

/*Styling af de forskellige tekster*/
.tekst p {
    font-size: 1rem; /*Størrelser valgt ved Mockups*/
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: -1rem;
    line-height: 1.5rem;
    font-family: "Istok Web", sans-serif; /*Taget fra Google fonts*/
    font-weight: 400;
    font-style: normal;
    padding-left: 2rem;
    padding-right: 2rem;
}
h1 {
    text-align: center;
    font-family: "DM Serif Display", serif; /*Taget fra Google fonts*/
    font-weight: 400;
    font-style: normal;
    background-color: #C4E6BD; /*Farvekoden til en 30% opacity af #39AD22*/
    padding-top: 3rem;
    padding-bottom: 1rem;
    box-shadow: 0 5px 5px black;
    font-size: 2.5rem; /*Størrelser valgt ved Mockups*/
    margin-top: 0rem;
}
h2, h3 {
    font-size: 1.5rem; /*Størrelser valgt ved Mockups*/
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-bottom: -0.1rem;
    font-family: "DM Serif Text", serif; /*Taget fra Google fonts*/
    font-weight: 400;
    font-style: normal;
}
/*Placering af overskriften*/
.overskrift {
    text-align: center;
    padding-bottom: 1rem;
}
/*Styling og opstillig i <li> tag*/
li {
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    font-family: "Istok Web", sans-serif; /*Taget fra Google fonts*/
    font-weight: 400;
    font-style: normal;
}
/*Få det til at ligne et almindeligt link*/
.link {
    text-decoration: underline;
    color: #0000EE; /*Den almindelige link farve*/
}
/*gøre stregen under ordet kortere og mindre*/
hr {
    margin-top: 0.1rem;
    height: 0.1rem;
    background-color: #d9d9d9;
    border: none;
    width: 3rem;
}
/*Styling af tekst boksen*/
.boks {
    background-color: #F8EE94;
    border-radius: 0.3rem;
    padding-bottom: 2rem;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 10px black; /*Skygge indeni boksen*/
    margin-bottom: 7rem;
    margin-top: 5rem;
}
/*Billede i midten af tekst boksen*/
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*Teksten og boksen er sat i en <section> for at kunne opstille dem med flexbox på desktop*/
.flex {
    display: block; /*Skal ikke være flex på mobil*/
}


/*Media quieries ved 900px da den anden opstilling først ser ordentlig ud her*/
@media screen and (min-width: 900px) {

/*Ny placering af overskrift*/
    h1 {
        text-align: left;
        padding-left: 2rem;
    }
/*Ny skriftstørrelse*/
    h2, h3 {
        font-size: 1.875rem;
    }
/*Ændringer af placering og størrelse af stregen*/
    hr {
        margin-left: 11rem;
        width: 3.5rem;
    }
/*Justeringer af tekst boksen*/
    .boks {
        width: 25rem;
        margin-right: 1rem;
        margin-left: 2rem;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
    }
/*Opstillingen ændres nu til flex*/
    .flex {
        display: flex;
    }
/*Teksten rykkes lidt ind*/
    .tekst {
        padding-right: 2rem;
        padding-left: 2rem;
    }
/*Anden afstand til footer*/
    footer {
        padding-top: 5rem;
    }
    }